{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Ify's Blog</h1>

<marquee><h3 class="text-center mb-5">Ifeoma has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3></marquee>

<body style="background-color:rgb(247, 147, 197);"></body>

<div class="row">
  {% for blog in blogs %}
  <div class="col-lg-4 col-md-4">

    {% if blog.url %}
    <a href="{{ blog.url }}">
        <img src= "{{ blog.image.url }} " class="img-fluid mb-2">
    </a>

    {% else %}

    <img src="{{ blog.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ blog.title }}</h3>
    <p>{{ blog.description }}</p>

   </div>
  {% endfor %}
</div>

{% endblock %}